* {
    margin: 0;
    padding: 0;
}

/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
}

/* header styles */
header {
    background-color: rgba(229, 84, 115, 0.10);
}

.header-content {
    display: flex;
    align-items: center;
    padding: 50px 240px 0px 240px;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 20px 45px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* featured flower styles */
.featured-flower {
    max-width: 1440px;
    margin: 250px auto 100px;
}

.featured-info {
    text-align: center;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

/* flower chart styles */
.flower-chart {
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
    margin: 0px auto;
}

.image-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 143px 80px 0px 80px;
    margin-right: 25px;
}

.image-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 120px 60px 0px 60px;
    margin-right: 25px;

}

.image-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 100px 80px 0px 80px;

}

.image-name {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* sale section */
.sale-flower {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-left: 0px;
    margin-right: 0px;
    padding: 100px 425px;
}

.sale-info {
    text-align: center;
    padding-top: 100px;
    padding-right: 200px;
}

.sale-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}

.sale-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* instagram section styles*/

.instagram-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 25px;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.instagram-photos-container {
    display: flex;
    max-width: 1440px;
    margin: 0px auto;
}

.instagram-photos {
    margin-right: 25px;
}

/* Subscribe styles */
.subscribe-box {
    border-radius: 8px;
    background-image: url('../FlowerAsset/Rectangle9.png');
    max-width: 1440px;
    margin: 0px auto;
    margin-top: 100px;
}

.subscribe-titles {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;
    margin-bottom: 15px;
}

.subscribe-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.email-field {
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    width: 700px;
    height: 65px;
    padding-left: 20px;
    margin-right: 10px;
}

.subscribe-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

/* footer styles */
.footer-container {
    background: #111010;
    padding-top: 130px;
    padding-bottom: 130px;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 25px;
}

.footer-para {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 30px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}